<!DOCTYPE html>
<html>
    <body>
        <form action="{{url_for('results')}}" method="POST">
            <h3>Baking Contest User Information</h3>
            Name<br>
            <input type="text" name="Name" ><br>
            Age<br>
            <input type="number" name="Age"><br>
            Phone Number<br>
            <input type="number" name="Phone Number"><br>
            Security Level<br>
            <input type="number" name="Security Level"><br>
            Login Password<br>
            <input type="password" name="Login Password"><br>
            <input type="submit" value="submit"><br>   
        </form>
    </body>
</html>